*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box;
}
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background: #e73677;
    height:80px;
    width: 100%;
}
.logo{
    color : #fff;
    font-size: 25px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

.primary-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width :70%;
}
.primary-navigation li a {
    color: #fff;
}
.primary-navigation li a:hover, .primary-navigation li a.active {
    color: #e73677;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.icon {
    display: none;
}
section{
    background: url(../picture/back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

@media screen and (max-width: 600px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive .icon {
        position: absolute;
        display: flex;
        align-items: center;
        color: #fff;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
      display: block;
      text-align: left;
    }
}