* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

p {
  font-size: 16px;
  color: #e3e6f3;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
}

i {
  color: black;
}

/* Header Start */

.logo {
  display: flex;
  flex-direction: row;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e73677;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky; /* Position sticky  */
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #e3e6f3;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #e3e6f3;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #e3e6f3;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.bg-home {
  background: url(../picture/back.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

@media only screen and (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e73677;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  .bg-home {
    background: url(../picture/back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
}

@media only screen and (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
}
